<div style="margin-top:0;margin-left:18%;padding-top:10px;">
<h1>The Arts Block Caf&eacute;</h1>
<p>A 550-person restaurant, bar, and music venue featuring both local and nationally recognized musicians.</p>
<p><i>serving...</i></p>
<p>Dinner, Wednesday - Saturday, 5-9 (>> dinner menu)</p>
<p>Late Night, Wednesday - Saturday, 9-1 (>> late menu)</p>
<p>Brunch, Sunday, 11-4 (>> <%= link_to "brunch menu", "https://s3.amazonaws.com/theartsblock/bridgetlatenight.jpg" %>)</p>
</div>
