<h1>The Arts Block Caf&eacute;</h1>
<p>A 550-person restaurant, bar, and music venue featuring both local and nationally recognized musicians.</p>
<p><i>serving...</i></p>
<br />
<p>Dinner, Wednesday - Saturday, 5-9 &nbsp;>>&nbsp;<%= link_to "view Dinner Menu (.PDF)", "/images/dinner.pdf" %></p>
<p>Late Night, Wednesday - Saturday, 9-1 &nbsp;>>&nbsp;<%= link_to "view Late Night Menu (.PDF)", "/images/late.pdf" %></p>
<p>Late Night, Wednesday - Saturday, 9-1 &nbsp;>>&nbsp;<%= link_to "view Brunch Menu (.PDF)", "/images/brunch.pdf" %></p>
<br />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/javascripts/slideshow.js" type="text/javascript"></script>
<div id="slideshow">    	
  <ul class="slides">
    <li><canvas width="550" height="400"></canvas><img src="/images/Artsbloc-1.jpg" width="550" height="400" alt="Café1"></li>
  	<li><canvas width="550" height="400"></canvas><img src="/images/Artsbloc-6.jpg" width="550" height="400" alt="Café2"></li>
  </ul>
  <span class="arrow previous"></span>
  <span class="arrow next"></span>
</div>
