<div style="color:#353535;margin-top:0;margin-left:20%;padding:10px;"><h3>Thanks! Your name and party size have been added to the guest list.</h3><br /><%= link_to "Back to Events", listing_url %></div>

